@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');

/*Media query for smartphones*/
@media only screen and (min-width:0px){
    body{
        background-color: black;
        margin: 0;
        padding: 0;
        /*overflow-x: hidden;*/
    }
    
    /*Creating the grid for phone*/
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "time" "weather" "cutecats";
        grid-gap: 3%;
        margin-left: 1%;
        margin-right: 1%;
    }
    
    /*All grid items*/
    .grid-item{
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: #D6DEFF;
    }
    
    /*The logo*/
    .header{
        grid-area: title;
        color: white;
        font-family: Libre Barcode 39 Text;
        font-weight: 900;
        font-size: 45px;
        text-align: center;
        margin: 2%;
    }
    
    /*DIV style for weather*/
    #weather{
        grid-area: weather;
        background: #D6DEFF;  /* fallback for old browsers */
    }
    
    #time{
        grid-area: time;
        /*Font styles*/
        font-size: 20px;
        padding: 2%;
        /*DIV styles*/
        background: #D6DEFF;  /* fallback for old browsers */
    }
    
    /*Date style*/
    #dateDisplay{
        font-size: 20px;
    }
    
    #memes{
        grid-area: memes;
    }
    
    
    .title{
        color: white;
        font-family: Roboto Mono;
        font-weight: 600;
        font-size: 30px;
        margin: 0;
        text-align: center;
    }
    

    h1 {
        font-family: Roboto Mono;
    }
    
    h2{
        color: #716084;
        font-family: Roboto Mono;
        font-weight: 300;
        font-size: 30px;
        margin: 0;
    }
    
    
    /* Media query for tablet*/
    @media only screen and (min-width:768px){
    /*Change font sizes for tablet*/
    
    .grid-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "time weather" "cutecats cutecats";
        grid-gap: 1%;
        margin-left: 15%;
        margin-right: 15%;
    }


    /* Media query for laptop/desktop */
    @media only screen and (min-width:1366px){
    .grid-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "time weather" "cutecats cutecats";
        grid-gap: 1%;
        margin-left: 15%;
        margin-right: 15%;
    }
    